<div class="options-header">
  <mat-form-field>
    <mat-select
      aria-label="Compact type"
      [(ngModel)]="options.compactType"
      (ngModelChange)="changedOptions()"
      placeholder="Compact Type"
    >
      <mat-option value="none">None</mat-option>
      <mat-option value="compactUp">Compact Up</mat-option>
      <mat-option value="compactLeft">Compact Left</mat-option>
      <mat-option value="compactLeft&Up">Compact Left & Up</mat-option>
      <mat-option value="compactUp&Left">Compact Up & Left</mat-option>
      <mat-option value="compactRight">Compact Right</mat-option>
      <mat-option value="compactUp&Right">Compact Up & Right</mat-option>
      <mat-option value="compactRight&Up">Compact Right & Up</mat-option>
      <mat-option value="compactDown">Compact Down</mat-option>
      <mat-option value="compactDown&Left">Compact Down & Left</mat-option>
      <mat-option value="compactLeft&Down">Compact Left & Down</mat-option>
      <mat-option value="compactDown&Right">Compact Down & Right</mat-option>
      <mat-option value="compactRight&Down">Compact Right & Down</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-mini-fab (click)="addItem()" class="add-button cols-2">
    <mat-icon>add</mat-icon>
  </button>
  <button
    mat-flat-button
    (click)="keepPosition()"
    color="primary"
    class="cols-2"
  >
    keep position
  </button>
  <button
    mat-flat-button
    (click)="getPosition()"
    color="primary"
    class="cols-2"
  >
    get position
  </button>
  <mat-slide-toggle
    [(ngModel)]="options.draggable.enabled"
    (ngModelChange)="changedOptions()"
    >switch dragable</mat-slide-toggle
  >
  <mat-slide-toggle
    [(ngModel)]="options.resizable.enabled"
    (ngModelChange)="changedOptions()"
    >switch resizable</mat-slide-toggle
  >
  <mat-slide-toggle
    [(ngModel)]="options.draggable.ignoreContent"
    (ngModelChange)="changedOptions()"
    >ignore Content</mat-slide-toggle
  >
</div>

<gridster class="my-grid-ster" [options]="options">
  <gridster-item class="my-gridster-item" [item]="item" *ngFor="let item of dashboard">
    <div class="button-holder">
      <button mat-icon-button mat-raised-button class="drag-handler">
        <mat-icon>open_with</mat-icon>
      </button>
      <!-- <button
        mat-mini-fab
        (mousedown)="removeItem($event, item)"
        (touchstart)="removeItem($event, item)"
      >
        <mat-icon>delete</mat-icon>
      </button> -->
    </div>
    <app-ngxtableau *ngIf="item.cardName == 'graph'"></app-ngxtableau>
  </gridster-item>
</gridster>
